uvicorn[standard]>=0.24
fastapi>=0.100
sqlalchemy>=2
asyncpg
redis
python-dotenv
psycopg2-binary
openpyxl
google-auth
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
PyJWT[crypto]>=2.8.0
requests>=2.31.0